@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html {
}
::-webkit-scrollbar {
  width: 12px;
  background: #e2e3e2;
}
::-webkit-scrollbar-thumb {
  background: #06ec4f80;
}

body {
  background-color: black;
}

.navDark {
  background-color: #fff;
  color: #272727;
}

.navegation {
  width: 100%;
  height: 75px;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #272727;
  position: fixed;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

h1:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.641);
}

ul {
  display: flex;
  gap: 25px;
}

li {
  list-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}

li:hover {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 0.214);
}

a {
  text-decoration: none;
}

#btn {
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 120px;
  background-color: rgb(16, 214, 148);
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

#btn:hover {
  background-color: rgba(16, 214, 148, 0.433);
}

/*-----------------*/

.firstSec {
  display: flex;
  align-items: center;
}

.introduce {
  margin-top: 80px;
  width: 50%;
  height: 270px;
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.introduce h2 {
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
}
.introduce p {
  color: #fff;
  line-height: 25px;
}

.introduce button {
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 110px;
  background-color: rgb(16, 214, 148);
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.introduce button:hover {
  transform: scale(1.1);
  background-color: rgba(16, 214, 148, 0.816);
}

.photo {
  margin-top: 50px;
  width: 50%;
  height: 250px;
  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.secondSec {
  width: 100%;
  height: 300px;
}

.secondSec h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s ease-in;
}

.secondSec h2:hover {
  color: rgba(255, 255, 255, 0.471);
  cursor: pointer;
  
}

.containerSkills {
  width: 100%;
  height: 250px;
  display: flex;
  background: #fff;
}

.box {
  margin-top: 15px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 50%;
  height: 300px;
}

.box img {
  width: 40%;
  height: auto;
  transition: 1s ease-in-out;
}

.box img:hover {
  transform: rotateY(180deg);
}

.tirdSec {
  height: 950px;
  width: 100%;
  padding: 15px;
}

.tirdSec h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  transition: 0.5s ease-in;
}

.tirdSec h2:hover {
  color: rgba(255, 255, 255, 0.601);
 
  cursor: pointer;
}

.projectsContainer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 800px;
}

.projectBox {
  background-color: #272727;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 360px;
  width: 80%;
}

.projectTitle {
  background-image: linear-gradient(
    60deg,
    rgba(71, 248, 98, 0.658),
    rgba(72, 114, 72, 0.734)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 100%;
  width: 50%;
}

.projectTitle h2 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
}

.projectTitle p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.863);
  line-height: 35px;
}

.projectTitle button {
  padding: 10px;
  width: 110px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  color: #272727;
  transition: 0.5s ease-in-out;
}

.projectTitle button:hover {
  background-color: #2727278b;
  color: #fff;
  transform: scale(1.1);
}

.projectImg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    65deg,
    black,
    rgb(74, 72, 72),
    rgb(210, 210, 222)
  );

  height: 100%;
  width: 50%;
}

.projectImg img {
  width: 90%;
  position: absolute;
  transition: 0.8s ease-in-out;
}

.projectImg img:hover {
  transform: scale(1.1);
}

#calculadora {
  background: #d3ba87dd;
}

#calc {
  background: #f7f1e8dd;
}

#site {
  background: #272727;
}

#padaria {
  background: #212c89;
}

/*-----Footer-------------*/

.containerFooter {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.containerFooter {
  width: 100%;
  height: 170px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFooter h2 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.5s ease-in;
}

.containerFooter h2:hover {
  cursor: pointer;
 
  color: rgba(0, 0, 0, 0.647);
}

.boxIcones {
  margin-top: 60px;
  width: 20%;
  display: flex;
  justify-content: center;
}

.boxIcones img {
  width: 35%;
}


/*-------Responsibilidade---------------------*/
