@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --colorbg: black;
  --colorbg2: #272727;
  --colorbgwhite: #ffff;

  --colorletter: #fff;
  --colorletterhover: rgba(255, 255, 255, 0.578);
  --logohover: rgba(255, 255, 255, 0.641);
  --lihover: rgba(255, 255, 255, 0.214);
  --btncolor: #36ab0b;
  --btncolorhover: #36ab0b81;
}

body {
  background-color: var(--colorbg);
}

/*---------header------------*/

.navegation {
  width: 100%;
  height: 8rem;
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--colorbg2);
  position: fixed;
}

#logo {
  font-size: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: var(--colorletter);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
  color: var(--logohover;);
}

ul {
  display: flex;
  gap: 3rem;
}

li {
  list-style: none;
  color: var(--colorletter);
  cursor: pointer;
  font-size: 1.5rem;

  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}

li:hover {
  transform: scale(1.2);
  color: var(--lihover);
}

a {
  text-decoration: none;
}


/*-----MAIN------------*/

.firstSec {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.introduce {
  width: 40%;
  height: 80%;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.introduce h2 {
  color: var(--colorletter);
  letter-spacing: 0.4rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.introduce p {
  color: var(--colorletter);
  line-height: 2.9rem;
  font-size: 1.5rem;
}

#cv {
  background-color: var(--btncolor);
  color: var(--colorletter);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.2rem 0rem var(--colorbg2);
  transition: 0.5s ease-in-out;
}

#cv:hover {
  background-color: var(--btncolorhover);
}

.avatar {
  width: 35%;
  height: 80%;
  padding: 5rem 3rem;
}

.avatar img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-position-x: right;
}

.secondSec {
  width: 100%;
  height: 0%;
}

.secondSec h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: var(--colorletter);
  padding: 8rem 0;
  transition: 0.5s ease-in;
}

.secondSec h2:hover {
  color: var(--colorletterhover);
  cursor: pointer;
}

.containerSkills {
  width: 100%;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--colorbgwhite);
}

.box {
  width: 20rem;
}

.box img {
  width: 10rem;
  height: auto;
  opacity: 0.7;
  transition: 0.5 ease-in-out;
}

.box img:hover {
  opacity: 2.5;
  transform: scale(1.5);
}

.tirdSec {
  width: 100%;
  height: 110rem;
  padding: 3rem 0;
}

.tirdSec h2 {
  color: var(--colorletter);
  text-align: center;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  color: var(--colorletter);
  cursor: pointer;
  transition: 0.5s ease-in;
  cursor: pointer;
  padding-bottom: 8rem;
}

.tirdSec h2:hover {
  color: var(--colorletterhover);
}

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 80rem;
  padding: 5rem 10rem;
}

.projectBox {
  display: flex;
  height: 100vh;
  width: 100%;
}

.projectTitle {
  background-color: #454545;
  border: solid;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
  height: 30rem;
  width: 45%;
}

.projectTitle h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.projectTitle p {
  font-size: 1.6rem;
  color: var(--colorletter);
  line-height: 4rem;
}

.btnLink {
  padding: 2rem 3rem;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  background-color: var(--btncolor);
  color: var(--colorletter);
  transition: 0.5s ease-in-out;
}

.btnLink:hover {
  background-color: var(--btncolorhover);
}

.projectImg {
 
  height: 30rem;
  width: 50%;

}

.projectImg img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  transition: 0.8s ease-in-out;

}




/*-----Footer-------------*/

.containerFooter {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.containerFooter {
  width: 100%;
  height: 170px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFooter h2 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
  transition: 0.5s ease-in;
}

.containerFooter h2:hover {
  cursor: pointer;

  color: rgba(0, 0, 0, 0.647);
}

.boxIcones {
  margin-top: 60px;
  width: 20%;
  display: flex;
  justify-content: center;
}

.boxIcones img {
  width: 35%;
}

/*-------Responsibilidade---------------------*/
